.hero-img {
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.hero-img::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  color: white;
}
.hero-img h1 {
  font-size: 2.4rem;
}
.hero-img p {
  font-size: 1.2rem;
  margin-top: -23px;
  text-align: center;
}
