.project-heading {
  padding: 0rem 0 1rem 0;
  color: #fff;
  font-size: 2.5rem;
  margin-left: 17rem;
  border-bottom: 2px solid #fff;
  width: 500px;
  margin-bottom: 6rem;
}
.work-container {
  margin-bottom: 6rem;
}

.project-container {
  max-width: 890px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
  color: black;
  filter: drop-shadow(0 0.5rem 0.6rem rgba(0, 0, 0, 0.1));
}
@media (max-width: 768px) {
  .project-container {
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  .work-container {
    width: 100vw;
    margin-left: 2.7rem;
    margin-bottom: -1rem;
  }
  .project-heading {
    margin-left: 0rem;
    width: 150px;
    margin-bottom: 3.2rem;
    margin-top: 6rem;
  }
}
